.head{
    background-color: navy;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    padding: 50px
    
}
#wrapper{
    border: 2px solid navy;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.addHeading{
    border-bottom: 2px solid black;
    max-width: 455px;
}